@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome to Jandaya!</h1> 
    <br />
    <h1 class="display-4">(the easiest way to book your absence)</h1>
</div>
<hr />
<div class="text-center">
    <a asp-action="Login" asp-controller="User" class="btn btn-lg btn-primary">Sign in</a>
    @*<button type="button" class="btn btn-lg btn-primary" disabled>Sign in</button>*@
</div>
