@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome to Jandaya!</h1> 
    <br />
    <h1 class="display-4">(the easiest way to book your absence)</h1>
</div>
