
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div>
        <br />
        <a class="btn btn-outline-primary btn-lg" asp-controller="UserManage" asp-action="GetUserData">Manage Users</a>
        <a class="btn btn-outline-primary btn-lg" asp-controller="CalendarManage" asp-action="CreateHoliday">Manage Calendar by Country</a>
        <a class="btn btn-outline-primary btn-lg" asp-controller="ResourceGroupsManage" asp-action="ResourceGroups">Manage Resource Groups</a>
        <a class="btn btn-outline-primary btn-lg" asp-controller="BookingTypesManage" asp-action="BookingTypes">Manage Booking Types</a>
    </div>
</div>
Resource groups
