<div class="d-flex justify-content-between">
    <div class="form-group w-45">
        <button type="submit" class="btn btn-success btn-block mr-3">Save</button>
    </div>
    <div class="form-group w-45">
        <button type="button" class="btn btn-danger btn-block mr-3" value="Cancel" onclick="window.history.back()">Cancel</button>
    </div>
</div>