@using Jandaya.Data.ViewModels
@model AddNewHolidayViewModel
@{
    ViewData["Title"] = "Add New Holiday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div>
        <br />
        <a class="btn btn-outline-primary btn-lg" asp-controller="UserManage" asp-action="GetUserData">Manage Users</a>
        <a class="btn btn-outline-primary btn-lg" asp-controller="CalendarManage" asp-action="GetCalendar">Manage Calendar by Country</a>
        <a class="btn btn-outline-primary btn-lg" asp-controller="ResourceGroupsManage" asp-action="ResourceGroups">Manage Resource Groups</a>
        <a class="btn btn-outline-primary btn-lg" asp-controller="BookingTypesManage" asp-action="BookingTypes">Manage Booking Types</a>
    </div>
</div>
<br />
<div class="jumbotron">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2 class="d-flex justify-content-center text-dark">@ViewData["Title"]</h2>
            <br />
            <div class="form-group">
                <div class="d-flex justify-content-center">
                    <label asp-for="@Model.Country" class="col-sm-2 control-label"></label>
                    <div class="col-sm-7">
                        <select asp-for="Country" class="form-control">
                            <option disabled selected>- - - Choose Country - - -</option>
                            <vc:countries></vc:countries>
                        </select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
